APP_PORT=3000
APP_SECRET=change_me_panel_secret
APP_URL=https://cpanel-rocky.example.com

# Docker MySQL setup from docker-compose.mysql.yml
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=5757
DB_DATABASE=panel
DB_USERNAME=cpanel
DB_PASSWORD=change_me_panel_password
DB_CONNECT_TIMEOUT=10000
DB_POOL_ACQUIRE=20000
DB_POOL_IDLE=10000

# Providers
GITHUB_PROVIDER=false
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK=/auth/github/callback

DISCORD_PROVIDER=false
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK=/auth/discord/callback

DEBUG=FALSE
CUSTOM_FONT=false
TIMEZONE=Europe/Bucharest
